body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    width: 300px;
    background-color: #1899e3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 10px;
}

.calculator h2 {
    margin-bottom: 20px;
}

.calculator div {
    margin-bottom: 10px;
}

.calculator label {
    margin-right: 10px;
}

.calculator input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.buttons button {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
    background-color: #080707;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.buttons button:hover {
    background-color: #3a3837;
}

.input-1, .input-2, .hasil{
    justify-content: center;
    padding-top: 10px;
    display: flex;
    font-size: 23px;
}